<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>PKG=`echo $JOB_NAME | awk -F_ &apos;{print $1}&apos;`
/usr/bin/clang-built $PKG normal
if [$? -ne 0 ]
then
	echo &quot;BUILD FAILED, NOW DOWNLOADING&quot;
	cd $JENKINS_HOME/packages
	rm libc-bin* libc6* locales* multiarch-support*
	cd $WORKSPACE
	/usr/bin/gcc-built-download libc-bin
	/usr/bin/gcc-built-download libc6
	/usr/bin/gcc-built-download locales
	/usr/bin/gcc-built-download multiarch-support
fi
cp *deb $JENKINS_HOME/packages</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>*.deb</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers/>
</project>